body {
    background-color: #202020;
    color: white;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  #root {
    display: flex;
    justify-content: center;
  }
  
  .App {
    width: 800px;
  }

  .post {
    display: flex;
    padding: 15px;
    border: 2px solid purple;
    margin: 100px 0;
    justify-content: space-between;
    align-items: center;
    position: relative;
    overflow-wrap: break-word;
  }

  .date {
    position: absolute;
    right: 0;
    top: -30px;
  }

  .reaction {
    display: flex;
    position: absolute;
    bottom: -30px;
    left: 0;
  }

  .reaction > div {
    margin: 0 5px;
    transition: 0.3s;
    cursor: pointer;
  }
  .like:hover {
    color: rgb(223, 223, 223);
  }

  .like_active {
    color: red;
  }

  .share:hover {
    color: green;
  }

  .likes {
    position: absolute;
    right: 0;
    bottom: -30px;
  }
  
 /* animation */
  .remove-btn {
    margin-right: 0.5rem;
  }
  
  .post-enter {
    opacity: 0;
  }
  .post-enter-active {
    opacity: 1;
    transition: opacity 300ms ease-in;
  }
  .post-exit {
    opacity: 1;
  }
  .post-exit-active {
    opacity: 0;
    transition: opacity 300ms ease-in;
  }
  /* / animation */

  .page__wrapper {
    margin: 30px 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .page {
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 2px;
    border: 1px solid purple;
    cursor: pointer;
    transition: 0.3s;
  }

  .page__current {
    border-radius: 50%;
    border: 2px solid rgb(255, 255, 255);
    font-weight: 600;
    width: 30px;
    height: 30px;
  }